<title>/</title>
<div class="container" ng-controller="homeController">
    <div class = "col col-sm-offside-2 text-center"><h1 class="display-1"><code>/</code> Index</h1></div>
    <div class = "col col-sm-offside-2"><hr></div>
    <div class="row">
        <table class="table table-bordered ">
            <thead>
              <tr>
                <th colspan="2" class="col-sm">Board</th>
                <th colspan="1" class="col-sm-1" style="border-left: hidden;"><button ng-click="x = ! x" ng-init="x=true">
                  <div ng-if="x == true">
                    Hide
                  </div>
                  <div ng-if="x == false">
                    Show
                  </div>
                </button>
              </th>
                
              </tr>
            </thead>
            <tbody ng-if="x">
              <tr>
                <td style = "border:none;">
                    <h3>Navigation</h3>
                    <ul>
                        <li><a href="/">/</a></li>
                        <li><a href="AMe">/AMe</a></li>
                    </ul>
                </td>
                <!-- <td style = "border:none;">
                    <h3>Test</h3>
                    <ul>
                        <li>aaa</li>
                        <li>bbb</li>
                    </ul>
                </td> -->
              </tr>
            </tbody>
          </table>
    </div>
    <div class = "col col-sm-offside-2"><hr></div>
    <div class = "col col-sm-offside-2">
        <h1 style="font-size:15rem;font-weight:300;line-height:1.2">HI;</h1>
        <p>There's nothing you see on this page other than navigation menu</p>
        <p>Before that, My name is jan, I' an iOS & android developer (on junior level, I'll answer the best I can (as far as I know) if you asking about iOS & android development/programming). </p>
        <p>Actually I just want to show all of you my ordinary Web Profile. </p>
        <p>There's nothing special in this Web Profile, I just display some ordinary information on this website and I won't give you my personal information except I trust you or a part of job interview. </p>
        <p>To see information about me, you can navigate to <code>\AMe</code> page.</p>
        <p></p>
        <br>
        <p>Sorry if I just telling a cringe or annoying thing, I just don't know what I want to tell on this home page</p>
        <br>
        <br>
        <br>
        <p>Thanks</p>
    </div>
    <div class = "col col-sm-offside-2"><hr></div>
</div>
